#title{
    display: block;
    text-align: center;
    font-size: 4cm;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(132, 22, 125);
    background-color: bisque;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 8cm;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer{
    text-align: center;

} 

.buttons{
    padding: 15px 30px;
    font-size: 1cm;
    color: rgb(7, 22, 35);
    background-color: rgb(16, 181, 128);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(120, 255, 210);
}